{% if proxy_env is defined %}
{% if proxy_env.http_proxy is defined %}
PROXY_HTTP_HOST_AND_PORT=`basename {{proxy_env.http_proxy}}`
PROXY_HTTP_HOST=`basename {{proxy_env.http_proxy}} | cut -d ":" -f 1`
PROXY_HTTP_PORT=`basename {{proxy_env.http_proxy}} | cut -d ":" -f 2`
export JAVA_OPTS="$JAVA_OPTS -Dhttp.proxyHost=$PROXY_HTTP_HOST -Dhttp.proxyPort=$PROXY_HTTP_PORT"
{% endif %}
{% if proxy_env.https_proxy is defined %}
PROXY_HTTPS_HOST_AND_PORT=`basename {{proxy_env.https_proxy}}`
PROXY_HTTPS_HOST=`basename {{proxy_env.https_proxy}} | cut -d ":" -f 1`
PROXY_HTTPS_PORT=`basename {{proxy_env.https_proxy}} | cut -d ":" -f 2`
export JAVA_OPTS="$JAVA_OPTS -Dhttps.proxyHost=$PROXY_HTTPS_HOST -Dhttps.proxyPort=$PROXY_HTTPS_PORT"
{% endif %}
{% if proxy_env.no_proxy is defined %}
export JAVA_OPTS="$JAVA_OPTS -DnoProxyHosts={{proxy_env.no_proxy}}"
{% endif %}
{% endif %}
