{% if proxify_proxy_env is defined -%}
export JAVA_OPTS="$JAVA_OPTS -Dhttp.proxyHost='{{ proxify_config.http_proxy.hostname }}' -Dhttp.proxyPort={{ proxify_config.http_proxy.port }}"
export JAVA_OPTS="$JAVA_OPTS -Dhttps.proxyHost='{{ proxify_config.https_proxy.hostname }}' -Dhttps.proxyPort={{ proxify_config.https_proxy.port }}"
export JAVA_OPTS="$JAVA_OPTS -DnoProxyHosts='{{ proxify_proxy_env.no_proxy }}'"
{%- endif %}
