{% if proxify_proxy_env is defined -%}
export http_proxy={{ proxify_proxy_env.http_proxy }}
export HTTP_PROXY={{ proxify_proxy_env.http_proxy }}
export https_proxy={{ proxify_proxy_env.https_proxy }}
export HTTPS_PROXY={{ proxify_proxy_env.https_proxy }}
export no_proxy={{ proxify_proxy_env.no_proxy }}
export NO_PROXY={{ proxify_proxy_env.no_proxy }}
{%- else -%}
#export http_proxy=
#export HTTP_PROXY=
#export https_proxy=
#export HTTPS_PROXY=
#export no_proxy=
#export NO_PROXY=
{%- endif %}
