{% if proxify_proxy_env is defined %}
http_proxy={{ proxify_proxy_env.http_proxy }}
HTTP_PROXY={{ proxify_proxy_env.http_proxy }}
https_proxy={{ proxify_proxy_env.https_proxy }}
HTTPS_PROXY={{ proxify_proxy_env.https_proxy }}
no_proxy={{ proxify_proxy_env.no_proxy }}
NO_PROXY={{ proxify_proxy_env.no_proxy }}
{% endif %}
